<div id="modal_logradouro" class="modal fade">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-blue" style="background-color:#286fa5 !important;border-color:#286fa5">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title" id="modal_titulo">LOGRADOURO</h6>
            </div>

            <div class="modal-body" style="padding:0 !important">
            <div class="panel-group panel-group-control panel-group-control-right content-group-lg" id="accordion-control">

			</div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">FECHAR</button>
            </div>
        </div>
    </div>
</div>