    <%== subtitulo('TIPO DE SERVIÇO')%>
    <div class="col-md-12">
      <%= f.input :tipo_servico,
          legend_tag: false,
          label: false, 
          as: :radio_buttons,
          collection: [
            ['Inscrição Substituto Tributário ou Gráfica de Outro Estado',1],
            ['Inscrição Canteiro Obras',2],
            ['Inscrição Estadual de Empresa não Registrada na Jucer',3]
          ]
      %>
    </div>
