 <table class="table table-bordered table-hover table-xxs col-md-12" id="tb_pesq_usuarios">
    <thead>
        <tr>
            <th>DESCRIÇÃO</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        <% @bairros.each do |bairro| %>
          <tr>
            <td><%= bairro.it_no_bairro%></td>
            <td class="text-center">
              <button href="#" 
                  style="padding:10px 10px"
                  data-input="<%= @input_id%>" 
                  data-valor="<%= bairro.it_no_bairro%>" 
                  class="btn btn-success btn-raised legitRipple btn-bairro">
                  <i class=" icon-add"></i> 
              </button>
            </td>
          </tr>
        
        <%end%>
    </tbody>
</table>


<div class="row" style="margin-top: 20px" id="bloco_registros">
    <div class='text-center'><%== pagy_bootstrap_nav(@pagy) %></div>
</div>